<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmjeong.alfredv2.ealfred</string>
	<key>connections</key>
	<dict>
		<key>72C0E636-C427-4039-A22B-257320B6540F</key>
		<array/>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A6640D-95AD-45E1-B050-984E1507661D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open terminal at Folder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A6BFF3E-5A60-48B7-904B-957CC812ACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3581A8D-8C84-4E0D-9DAA-21348D4DA88F</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Reveal Folder in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72C0E636-C427-4039-A22B-257320B6540F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Launch extension with the first keyword</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5338C09-9349-4854-8115-B77CE546946A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export extension (~/Downloads, you can customize by export.json)</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F72A0346-1F5D-4D2A-BEC1-5FAB10D82C98</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Enable/Disable extension</string>
			</dict>
		</array>
		<key>B5338C09-9349-4854-8115-B77CE546946A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33F588E7-C7A1-429E-9EC0-3B9434B9042C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F72A0346-1F5D-4D2A-BEC1-5FAB10D82C98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54DACDC3-F262-4FF4-8CC9-0414E84CF7D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaemok Jeong</string>
	<key>description</key>
	<string>List and view details about installed Alfred extensions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Manage Alfred Extension</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -a Terminal {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>93A6640D-95AD-45E1-B050-984E1507661D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python export.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5338C09-9349-4854-8115-B77CE546946A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>9A6BFF3E-5A60-48B7-904B-957CC812ACD8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>alf</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py {query}</string>
				<key>subtext</key>
				<string>List and view details about installed Alfred extensions</string>
				<key>title</key>
				<string>Manage Alfred Extension</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python toggle.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F72A0346-1F5D-4D2A-BEC1-5FAB10D82C98</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Export</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>33F588E7-C7A1-429E-9EC0-3B9434B9042C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python launch.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72C0E636-C427-4039-A22B-257320B6540F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggle visibility</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54DACDC3-F262-4FF4-8CC9-0414E84CF7D8</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>B3581A8D-8C84-4E0D-9DAA-21348D4DA88F</string>
		</dict>
	</array>
	<key>readme</key>
	<string>enter : Open folder in Finder
ctl : Reveal folder in Finder
shift : Launch this extension with the first keyword</string>
	<key>uidata</key>
	<dict>
		<key>33F588E7-C7A1-429E-9EC0-3B9434B9042C</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>54DACDC3-F262-4FF4-8CC9-0414E84CF7D8</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>72C0E636-C427-4039-A22B-257320B6540F</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>93A6640D-95AD-45E1-B050-984E1507661D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9A6BFF3E-5A60-48B7-904B-957CC812ACD8</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B3581A8D-8C84-4E0D-9DAA-21348D4DA88F</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B5338C09-9349-4854-8115-B77CE546946A</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>F72A0346-1F5D-4D2A-BEC1-5FAB10D82C98</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jmjeong.com</string>
</dict>
</plist>
