<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmjeong.alfredv2.pinboard</string>
	<key>connections</key>
	<dict>
		<key>38B9490F-6226-4DB1-BC2B-AC0413FDCB2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
			</dict>
		</array>
		<key>4F0BFF6F-4C08-4E56-AE58-4EE4502D3BB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
			</dict>
		</array>
		<key>7253661E-0121-4830-9BD1-6B2DEAE20847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
			</dict>
		</array>
		<key>8ACBF18B-B965-4A98-872A-86C62FDD125A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94BD3D4A-52E4-4693-BEAF-4AC0D1C2843B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>94BD3D4A-52E4-4693-BEAF-4AC0D1C2843B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
			</dict>
		</array>
		<key>E57DFDC2-F558-4986-B468-678ADB2B046E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC819CA0-3B78-40A9-8A49-DC53D2DBE744</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC819CA0-3B78-40A9-8A49-DC53D2DBE744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaemok Jeong</string>
	<key>description</key>
	<string>pinboard utils</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pinboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pba</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py all "{query}"</string>
				<key>subtext</key>
				<string>search all fields of bookmarks in pinboard</string>
				<key>title</key>
				<string>pba</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94BD3D4A-52E4-4693-BEAF-4AC0D1C2843B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8ACBF18B-B965-4A98-872A-86C62FDD125A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pbt</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py title "{query}"</string>
				<key>subtext</key>
				<string>search description of bookmarks in pinboard</string>
				<key>title</key>
				<string>pbt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E57DFDC2-F558-4986-B468-678ADB2B046E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2BB4D90E-6F2A-46AC-B495-422137F94C88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pbl</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py link "{query}"</string>
				<key>subtext</key>
				<string>search link of bookmarks in pinboard</string>
				<key>title</key>
				<string>pbl</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38B9490F-6226-4DB1-BC2B-AC0413FDCB2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pbd</string>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string>python main.py description "{query}"</string>
				<key>subtext</key>
				<string>search extended field of bookmarks in pinboard</string>
				<key>title</key>
				<string>pbd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F0BFF6F-4C08-4E56-AE58-4EE4502D3BB3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pbtag</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py tags "{query}"</string>
				<key>subtext</key>
				<string>display tags list in pinboard</string>
				<key>title</key>
				<string>pbtag</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC819CA0-3B78-40A9-8A49-DC53D2DBE744</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pbu</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python main.py toread "{query}"</string>
				<key>subtext</key>
				<string>search title of toread bookmarks in pinboard</string>
				<key>title</key>
				<string>pbu</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7253661E-0121-4830-9BD1-6B2DEAE20847</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>pb - search all field(description,link,extended,tag) in pinboard

pbt - search description in pinboard
pbl - search link in pinboard
pad - search extended in pinboard

pbtag - search tag in pinboard</string>
	<key>uidata</key>
	<dict>
		<key>2BB4D90E-6F2A-46AC-B495-422137F94C88</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>38B9490F-6226-4DB1-BC2B-AC0413FDCB2C</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>409E9780-F0F3-408B-8E4C-5BDCFB0E2029</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>4F0BFF6F-4C08-4E56-AE58-4EE4502D3BB3</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>7253661E-0121-4830-9BD1-6B2DEAE20847</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8ACBF18B-B965-4A98-872A-86C62FDD125A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>94BD3D4A-52E4-4693-BEAF-4AC0D1C2843B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E57DFDC2-F558-4986-B468-678ADB2B046E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EC819CA0-3B78-40A9-8A49-DC53D2DBE744</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jmjeong.com</string>
</dict>
</plist>
