<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmjeong.bookmark</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>02BB77C3-F16F-47F6-9939-E2FD26920174</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5826DBDF-133A-4847-9EDD-B0849C57FF3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D74BBA6-09F8-4C13-AD51-965626E5DC79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AFCAB18-1B50-483A-AF77-AB3A02B3C863</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BBCFC3D-6793-421F-9685-6D07851B4AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>790A0497-0F83-4930-8E39-29B73B49F094</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E95BDA6-E7C0-4DDD-BB3C-163513A8824C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>914D629C-15FB-41C7-B52F-7F94FD8CED7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EC499D3-7318-41FC-B46D-84333D59FCFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA084A05-C25C-45B5-AADA-7B4D7EDB7F59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBCFC3D-6793-421F-9685-6D07851B4AF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAFB7595-BB3F-4B30-95C3-D0FC5D013D63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA084A05-C25C-45B5-AADA-7B4D7EDB7F59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF126F84-0720-421E-96D1-A4B3E69FBC44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9FE1339-B990-4E64-8129-D3990729C077</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9226568-B48A-4D2F-B728-751107AC8250</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>790A0497-0F83-4930-8E39-29B73B49F094</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy Bookmark</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>02BB77C3-F16F-47F6-9939-E2FD26920174</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5826DBDF-133A-4847-9EDD-B0849C57FF3C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>[Delete] Bookmark</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF126F84-0720-421E-96D1-A4B3E69FBC44</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Toggle [Mark] flag on Bookmark</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6AFCAB18-1B50-483A-AF77-AB3A02B3C863</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Toggle [Private] flag on Bookmark</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F87EF4B2-DE73-4BDD-B5AC-970EF308CF5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaemok Jeong</string>
	<key>description</key>
	<string>bookmarking</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>bookmark</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python act.py cmd "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>790A0497-0F83-4930-8E39-29B73B49F094</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4E95BDA6-E7C0-4DDD-BB3C-163513A8824C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>914D629C-15FB-41C7-B52F-7F94FD8CED7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D74BBA6-09F8-4C13-AD51-965626E5DC79</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python act.py enter "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02BB77C3-F16F-47F6-9939-E2FD26920174</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python main.py all "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>alfred bookmark</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9226568-B48A-4D2F-B728-751107AC8250</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>! </string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F87EF4B2-DE73-4BDD-B5AC-970EF308CF5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python act.py alt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5826DBDF-133A-4847-9EDD-B0849C57FF3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bookmark</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7EF01DB2-3892-49A7-8BF0-9A76756F619F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>* </string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9FE1339-B990-4E64-8129-D3990729C077</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python act.py ctrl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF126F84-0720-421E-96D1-A4B3E69FBC44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python act.py shift "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6AFCAB18-1B50-483A-AF77-AB3A02B3C863</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>+ </string>
				<key>hotkey</key>
				<integer>41</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>:</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9EC499D3-7318-41FC-B46D-84333D59FCFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>reload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AAFB7595-BB3F-4B30-95C3-D0FC5D013D63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pbreload</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reload pinboard data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA084A05-C25C-45B5-AADA-7B4D7EDB7F59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python reload.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BBCFC3D-6793-421F-9685-6D07851B4AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Bookmark Utility 

https://github.com/jmjeong/alfred-extension/tree/master/alfred-bookmark</string>
	<key>uidata</key>
	<dict>
		<key>02BB77C3-F16F-47F6-9939-E2FD26920174</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>4E95BDA6-E7C0-4DDD-BB3C-163513A8824C</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>5826DBDF-133A-4847-9EDD-B0849C57FF3C</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>5D74BBA6-09F8-4C13-AD51-965626E5DC79</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6AFCAB18-1B50-483A-AF77-AB3A02B3C863</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>6BBCFC3D-6793-421F-9685-6D07851B4AF2</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>790A0497-0F83-4930-8E39-29B73B49F094</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>7EF01DB2-3892-49A7-8BF0-9A76756F619F</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>914D629C-15FB-41C7-B52F-7F94FD8CED7C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>9EC499D3-7318-41FC-B46D-84333D59FCFC</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>AA084A05-C25C-45B5-AADA-7B4D7EDB7F59</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>AAFB7595-BB3F-4B30-95C3-D0FC5D013D63</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>AF126F84-0720-421E-96D1-A4B3E69FBC44</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>C9FE1339-B990-4E64-8129-D3990729C077</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>E9226568-B48A-4D2F-B728-751107AC8250</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F87EF4B2-DE73-4BDD-B5AC-970EF308CF5E</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>http://jmjeong.com</string>
</dict>
</plist>
