<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmjeong.alfredv2.getip</string>
	<key>connections</key>
	<dict>
		<key>CD52C99A-6F60-4E43-B262-87727FE17A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE68B016-2A60-4A4C-9733-1B3E394DF7FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62B41AC7-0C34-45DE-9340-EF601AAB79B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaemok Jeong</string>
	<key>description</key>
	<string>Display external ip using icanhazip.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ipaddr</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>62B41AC7-0C34-45DE-9340-EF601AAB79B0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FE68B016-2A60-4A4C-9733-1B3E394DF7FB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ipaddr</string>
				<key>runningsubtext</key>
				<string>Waiting</string>
				<key>script</key>
				<string>python main.py</string>
				<key>subtext</key>
				<string>using icanhazip.com</string>
				<key>title</key>
				<string>Show external IP</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD52C99A-6F60-4E43-B262-87727FE17A74</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>62B41AC7-0C34-45DE-9340-EF601AAB79B0</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>CD52C99A-6F60-4E43-B262-87727FE17A74</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FE68B016-2A60-4A4C-9733-1B3E394DF7FB</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jmjeong.com</string>
</dict>
</plist>
