<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmjeong.alfred2.date</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Jaemok Jeong</string>
	<key>description</key>
	<string>오늘의 날짜와 음력날짜 출력, 양력-음력 변환</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>date</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>45</integer>
				<key>keyword</key>
				<string>date</string>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>subtext</key>
				<string>ex) date, date 2013/4/1, date -2013/3/1</string>
				<key>title</key>
				<string>Display date : format [-]y/m/d [leap]</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jmjeong.com</string>
</dict>
</plist>
